<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <section>
        <p>OOPS! no results!</p>
    </section>
    
</body>
</html>