<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <section>
        <div class="logInForm">
            <form action="./home" method="post">
                <label for="Username">Username:</label>
                <input type="text" id="username" name="username">
                <label for="Password">Password:</label>
                <input type="password" id="password" name="password">
                <button>Submit</button>
            </form>
        </div>
    </section>
</body>
</html>