:root {
    --background: #FDF5C9;
    --primary: #08682A;
    --secondary: #F3E7A5;
    --accent: #B93146;
    --text: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand SC', cursive;
    /*
    border: 1px solid black;
    overflow: hidden;
    */
}   

body {
    background-color: var(--background);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

#home-img {
    width: fit-content;
    height: 100vh;
}

main {
    display: grid;
    grid-template-rows: 10vh 90vh;
}

nav {
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 5px;
}

nav ul li {
    margin: 10px 40px;
    transition: color 0.3s ease;
}

.nav-btn {
    text-decoration: none;
    font-size: 25px;
    color: var(--primary);
}

nav ul li:hover .nav-btn {
    color: var(--accent);
}

.home-main {
    text-align: center;
    place-self: center;
    display: grid;
    columns: 1;
}

.home-main h1 {
    width: 50vh;
    font-size: 110px;
    color: var(--primary);
    margin: auto;
}

.home-main p {
    font-size: 42px;
    width: 50vh;
}

#order-now-btn {
    margin: 30px auto;
    background-color: var(--accent);
    color: var(--background);
    font-size: 24px;
    width: 190px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in;
}

/*
#order-now-btn:hover {
}

*/